rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // リクエストが認証されているか（匿名認証を含む）
    function isAuthenticated() {
      return request.auth != null;
    }

    match /{document=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }
  }
}
