.rankingItem {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #000000;
  border: 1px solid #9A9A9A;
  margin-bottom: 8px;
  box-shadow: 0 2px 8px rgba(154, 154, 154, 0.3);
  width: 494px;
  height: 96px;
}

.rankNumber {
  min-width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rankImage {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.teamName {
  flex: 1;
  font-size: 33px;
  margin: 0 16px;
  color: #FFFFFF;
}

.scoreContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.score {
  font-size: 33px;
  font-weight: bold;
  color: #FFFFFF;
}

.unit {
  font-size: 24px;
  color: #9A9A9A;
}

.rankingItemGorgeous {
  display: flex;
  align-items: center;
  background-color: #000000;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 471px;
  height: 150px;
  position: relative;
  overflow: visible;

  &:last-child {
    margin-bottom: 0;
  }

  &[data-rank="1"] {
    border: 2px solid #FCD000;
    .teamNameGorgeous, .scoreGorgeous {
      color: #FCD000;
    }
    .mainThumbnail {
      border: 2px solid #FCD000;
    }
  }

  &[data-rank="2"] {
    border: 2px solid #D4D5D0;
    .teamNameGorgeous, .scoreGorgeous {
      color: #D4D5D0;
    }
    .mainThumbnail {
      border: 2px solid #D4D5D0;
    }
  }

  &[data-rank="3"] {
    border: 2px solid #FD8F0D;
    .teamNameGorgeous, .scoreGorgeous {
      color: #FD8F0D;
    }
    .mainThumbnail {
      border: 2px solid #FD8F0D;
    }
  }
}

.thumbnailContainer {
  position: relative;
  margin-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: visible;
  margin-left: -140px;
}

.mainThumbnail {
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1;
  padding: 2px;
  width: 240px;
  height: 240px;
  background-color: #FFFFFF;
}

.rankOverlay {
  position: absolute;
  top: -80px;
  left: -20px;
  z-index: 1;
}

.rankImageGorgeous {
  width: 120px;
  height: 120px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.teamNameGorgeous {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scoreContainerGorgeous {
  display: flex;
  align-items: baseline;
}

.scoreGorgeous {
  font-size: 32px;
  font-weight: bold;
}

.unitGorgeous {
  font-size: 0.9em;
  margin-left: 4px;
  color: #9A9A9A;
} 